@import "./partials/variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Urbanist;

}
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./partials/nav";
@import "./partials/intro";
@import "./partials/sobremi";

.row{

    margin-top: 8rem;
    gap: 8rem;


    .columnas{
        background-color: $colorSecundario;
        padding: 1rem;

        color: $colorPrincipal;
        box-shadow: -5px 4px 5px 0px rgba(0, 0, 0, 0.361);
        border-radius: 10px;
            p{
                background-color: $colorSecundario;
            }
    }
}


.active{
    color: $colorPrincipal !important;
}

.img__column--container{

    display: flex;
    justify-content: center;

    .img__column{
        width: 50px;
        margin: 1rem;
    }
}

.titulo__habilidades{
    color: $colorPrincipal;
    display: flex;
    margin-top: 3rem;
}