.contacto_inicio{
    color: $colorPrincipal;
    margin-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;

    p{
        font-size: 20px;
    }

}
.form__container{


    display: flex;
    justify-content: start;
    align-items: center;
    
    padding-left: 5rem;
    padding-right: 5rem;

    color: $colorPrincipal;

    input, textarea{
        width: 100%;
        min-width: 900px;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        
        border: solid 1px black;
        border-radius: 2px;
    }
    button{

        color: $colorPrincipal;
        margin-top: 1rem;
        width: 100px;

        border: solid 1px black;
        border-radius: 2px;
    }
    

    @include mobile{
        input, textarea{

            min-width: 300px;
            max-width: 600px;
            margin: 1rem;
            
            border: solid 1px black;
            border-radius: 2px;
        }
    }
}