.contacto_inicio{
    color: $colorPrincipal;
    margin-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    p{
        font-size: 20px;
    }
}
.form__container{
    
    background-color: $colorSecundario;
    width: 60%;
    margin-left: 5rem;
    margin-top: -0.5rem;
    padding: 1rem;
    color: $colorPrincipal;
    @include tarjeta;

    input, textarea{
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: 2px;
    }
    button{
        color: $colorPrincipal;
        margin-top: -2rem;
        width: 100px;
        border: none;
        border-radius: 2px;
    }
}