.row{
    margin-top: 3rem;
    gap: 8rem;
    .columnas{
        @include tarjeta;
        padding: 1rem;
        color: $colorPrincipal;
        height: 50vh;

        &:hover{
            transform: scale(2px);
        }
    }
}
.active{
    color: $colorPrincipal !important;
}

.img__column--container{
    display: flex;
    justify-content: center;
    .img__column{
        width: 60px;
        margin: 1rem;
        object-fit: cover;
    }
}

.titulo__habilidades{
    color: $colorPrincipal;
    margin-top: 2rem;

}