.bienvenida{
    width: 75%;
    margin-top: 12rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
    color: $colorPrincipal;
    font-size: 35px;
}

.intro{

    display: flex;
    flex-direction: column;
    justify-items: center;
    
    width: 75%;
    margin-left: 3rem;
    padding: 1rem;
    position: relative;
    
    color: $colorPrincipal;

    @include tarjeta;


    &__nombre{
        font-size: 50px;
    }
    &__desc{
        width: 75%;
        font-size: 30px;
        @media (max-width: 1500px) {
            width: auto;
        }
    }

    &__foto{

        position: absolute;
        top: 0;
        bottom: 0;
        left: 1;
        right: 0;
        margin: auto;
        height: 400px;
        object-fit: cover;

        @include tarjeta;


        @media (max-width: 1500px) {
            position: relative;
            height: 400px;
            object-fit: cover;
        }
    }

}

footer{

    color: $colorPrincipal;
    display: flex;
    justify-content: center;
    margin-top: 17rem;

}