.titulo__sobremi{

    display: flex;
    justify-content: center;
    margin-top: 4rem;
    color: $colorPrincipal;
    font-size: 60px;

}

.grilla__sobremi{

    display: grid;
    grid-template-columns: 1r 1r 1r;
    grid-template-rows: 1r 1r;

    gap: 1rem;
    grid-template-areas: 
        "foto desc desc"
        "foto desc desc";


    @media (max-width: 1000px){ 

        display: grid;

        grid-template-columns: 1r 1r;
        grid-template-rows: 1r 1r 1r;
    
        gap: 2rem;
    
        margin-top: 5rem;
    
        grid-template-areas: 
            "foto foto "
            "desc desc "
            "desc desc";
    


    }

}

.grilla__desc{
    background-color: $colorSecundario;
    padding: 1rem;
    grid-area: desc;
    color: $colorPrincipal;
}
.grilla__foto{
    grid-area: foto;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.grilla__sobremi > *{
    box-shadow: -5px 4px 5px 0px rgba(0, 0, 0, 0.361);
    border-radius: 10px;
}
