.titulo__sobremi{

    display: flex;
    justify-content: start;
    margin-top: 4rem;
    color: $colorPrincipal;
    font-size: 50px;

}

.grilla__sobremi{

    display: grid;
    grid-template-columns: 1r 1r 1r;
    grid-template-rows: 1r 1r;

    gap: 1rem;
    grid-template-areas: 
        "foto desc desc"
        "foto desc desc";


    @media (max-width: 1000px){ 

        display: grid;

        grid-template-columns: 1r 1r;
        grid-template-rows: 1r 1r 1r;
    
        gap: 2rem;
    
        margin-top: 5rem;
    
        grid-template-areas: 
            "foto foto "
            "desc desc "
            "desc desc";
    }

}

.grilla__desc{
    padding: 1rem;
    grid-area: desc;
    color: $colorPrincipal;
    font-size: 20px;
}
.grilla__foto{
    grid-area: foto;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.grilla__sobremi > *{
   @include tarjeta;
}
