$colorFondo: #EFEFEF;
$colorPrincipal: #4F6A9E;
$colorSecundario: #DADADA;

h1{
    font-weight: 800;
}
p{
    font-weight: 500;
}
h2{
    font-weight: 600;
}

@mixin tarjeta{
    box-shadow: -5px 4px 5px 0px rgba(0, 0, 0, 0.361);
    border-radius: 10px;
    background-color: $colorSecundario;
}